rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
    function isAdmin() {
      return exists(/databases/$(database)/documents/users/$(request.auth.uid)) &&
             get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'Admin';
    }

    match /users/{userId} {
      allow read, update: if request.auth.uid == userId || isAdmin();
      allow list: if isAdmin();
    }
    
    match /courses/{courseId} {
      allow read: if resource.data.status == 'Published' || isAdmin();
      allow create, update, delete: if isAdmin();
    }

    match /quizzes/{quizId} {
      allow read, create, update, delete: if isAdmin();
    }
    
    match /discussions/{discussionId} {
      allow read: if request.auth != null;
      allow create, update, delete: if isAdmin();
    }
    
    match /certificates/{certId} {
      allow read: if request.auth.uid == resource.data.userId || isAdmin();
      allow create, update, delete: if isAdmin();
    }
    
    match /maintenance/{docId} {
      allow read: if request.auth != null;
      allow update: if isAdmin();
    }
    
    match /settings/{docId} {
       allow read: if request.auth != null;
       allow write: if isAdmin();
    }
  }
}
