
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      // Check if the user has an 'Admin' role in their user document.
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'Admin';
    }

    match /users/{userId} {
      allow read, write: if request.auth.uid == userId || isAdmin();
    }

    match /courses/{courseId} {
      allow read: if true;
      // Allow admins to create, update, and delete courses.
      allow create, update, delete: if isAdmin();
    }
    
    match /quizzes/{quizId} {
      allow read: if request.auth != null;
      allow write: if isAdmin();
    }
    
    match /discussions/{discussionId} {
        allow read: if true;
        allow create: if request.auth != null;
        allow update, delete: if isAdmin();
    }

    match /settings/homepage {
        allow read: if true;
        allow write: if isAdmin();
    }
    
    match /settings/certificate {
        allow read: if request.auth != null;
        allow write: if isAdmin();
    }
    
    match /certificates/{certId} {
        allow read: if request.auth != null;
        allow create: if isAdmin();
        allow update, delete: if isAdmin();
    }
  }
}
